<template>
<card title="Daftar Pegawai">
    terdapat {{count}} data pegawai
    <router-link class="btn btn-primary float-right" to="employee/create">
      Tambah Pegawai</router-link
    >
    <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
        <table class="table manage-candidates-top mb-0">
            <thead>
            <tr>
                <th class="text-center">Nama Pegawai</th>
                <th class="text-center">Bagian</th>
                <th class="text-center">Tanggal Lahir</th>
                <th class="action text-center">Action</th>
            </tr>
            </thead>
            <tbody>
                <tr class="candidates-list" v-for="(employee) in (employees)" :key="employee.id">
                    <td class="title">
                        <div class="thumb">
                            <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                        </div>
                        <div class="candidate-list-details">
                            <div class="candidate-list-info">
                                <div class="candidate-list-title">
                                    <h5 class="mb-0"><a href="#">{{employee.name}}</a></h5>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="candidate-list-favourite-time text-center">
                    <a class="candidate-list-favourite order-2 text-danger" href="#"><i class="fas fa-heart"></i></a>
                    <span class="candidate-list-time order-1">{{employee.job_title}}</span>
                    </td>
                    <td class="candidate-list-favourite-time text-center">
                    <a class="candidate-list-favourite order-2 text-danger" href="#"><i class="fas fa-heart"></i></a>
                    <span class="candidate-list-time order-1">{{employee.date_of_birth}}</span>
                    </td>
                    <td>
                    <ul class="list-unstyled mb-0 d-flex justify-content-center">
                        <router-link :to="'/employee/update/' + employee.id" ><fa icon="edit" fixed-width /></router-link>
                        <a href="#" @click="deleteData(employee)" to="/profile"><fa icon="trash" fixed-width /></a>
                    </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</card>
</template>

<style scoped>
    .p-4 {
    padding: 1.5rem!important;
    }
    .mb-0, .my-0 {
        margin-bottom: 0!important;
    }
    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }    

    /* user-dashboard-info-box */
    .user-dashboard-info-box .candidates-list .thumb {
        margin-right: 20px;
    }
    .user-dashboard-info-box .candidates-list .thumb img {
        width: 40px;
        height: 40px;
        -o-object-fit: cover;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
    }

    .user-dashboard-info-box .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 30px 0 30px 50px;
    }

    .user-dashboard-info-box .candidates-list td {
        vertical-align: middle;
    }

    .user-dashboard-info-box td li {
        margin: 0 4px;
    }

    .user-dashboard-info-box .table thead th {
        border-bottom: none;
    }

    .table.manage-candidates-top th {
        border: 0;
    }

    .user-dashboard-info-box .candidate-list-favourite-time .candidate-list-favourite {
        margin-bottom: 10px;
    }

    .table.manage-candidates-top {
        min-width: 650px;
    }

    .user-dashboard-info-box .candidate-list-details ul {
        color: #969696;
    }

    /* Candidate List */
    .candidate-list {
        background: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid #eeeeee;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .candidate-list:hover {
        -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
        box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
        position: relative;
        z-index: 99;
    }
    .candidate-list:hover a.candidate-list-favourite {
        color: #e74c3c;
        -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
        box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
    }

    .candidate-list .candidate-list-image {
        margin-right: 25px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        border: none;
    }
    .candidate-list .candidate-list-image img {
        width: 80px;
        height: 80px;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .candidate-list-title {
        margin-bottom: 5px;
    }

    .candidate-list-details ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    .candidate-list-details ul li {
        margin: 5px 10px 5px 0px;
        font-size: 13px;
    }

    .candidate-list .candidate-list-favourite-time {
        margin-left: auto;
        text-align: center;
        font-size: 13px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90px;
        flex: 0 0 90px;
    }
    .candidate-list .candidate-list-favourite-time span {
        display: block;
        margin: 0 auto;
    }
    .candidate-list .candidate-list-favourite-time .candidate-list-favourite {
        display: inline-block;
        position: relative;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border: 1px solid #eeeeee;
        border-radius: 100%;
        text-align: center;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        margin-bottom: 20px;
        font-size: 16px;
        color: #646f79;
    }
    .candidate-list .candidate-list-favourite-time .candidate-list-favourite:hover {
        background: #ffffff;
        color: #e74c3c;
    }

    .candidate-banner .candidate-list:hover {
        position: inherit;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        z-index: inherit;
    }

    .bg-white {
        background-color: #ffffff !important;
    }
    .p-4 {
        padding: 1.5rem!important;
    }
    .mb-0, .my-0 {
        margin-bottom: 0!important;
    }
    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }

    .user-dashboard-info-box .candidates-list .thumb {
        margin-right: 20px;
    }
</style>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'

export default {

  middleware: "auth",

  head() {
    return { 
        title: "Daftar Pegawai",
        src: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        };
  },

    async asyncData(){
        let res = (await axios.get('employee')).data
        let employees = res.data
        let count = res.count

        return{
            employees,
            count,
        }
    },

    methods:{
       

        async deleteData(employee){

            let result = await Swal.fire({
            icon: 'warning',
            title: 'Apakah Anda ingin menghapus data ini?',
            text: 'Pegawai: ' + employee.name,
            reverseButtons: false,
            showCancelButton:true, 
            confirmButtonText: 'Ya',
            cancelButtonText: 'Batal',
            })
            if(result.isConfirmed) {
                let res = (await axios.delete('employee/'+ employee.id)).data
                Swal.fire({
                icon: 'success',
                title: 'Berhasil!',
                text: 'Data berhasil dihapus',
                confirmButtonText: 'Ok',
                })

            }
            this.$nuxt.refresh()
        }

    }

};
</script>
