<template>
<card title="Update Pegawai">
    <form @submit.prevent="update">
    <div class="form-group row">
        <label for="inputNama" class="col-sm-3  text-right">Nama</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" v-model="form.name" id="inputNama" placeholder="Nama">
        </div>
    </div>
    <div class="form-group row">
       <label for="inputDate_of_birth" class="col-sm-3  text-right">Tanggal Lahir</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" v-model="form.date_of_birth" id="inputDate_of_birth" placeholder="Tanggal Lahir">
        </div>
    </div>
     <div class="form-group row">
        <label for="inputjob_title" class="col-sm-3  text-right">Bagian</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" v-model="form.job_title" id="inputjob_title" placeholder="Bagian">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-9 offset-sm-2">
            <button class="btn btn-primary" :disabled="loading">Update Pegawai</button>
        </div>
    </div>
</form>
</card>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'
export default {

  middleware: "auth",

  head() {
    return { 
        title: "Update Pegawai",
      
        };
  },
  
    async asyncData(context){
        let res = (await axios.get('employee/'+ context.params.id)).data
        let form = res.model
        return{
            form
        }
    },

    data(){
        return{
            
            loading:false,
        }

    },

    methods:{
       async update(){
        this.loading = true
        let res = (await axios.patch('employee/'+ this.$route.params.id, this.form)).data
        this.loading = false
        Swal.fire({
            icon: 'success',
            title: 'Berhasil!',
            text: 'Data berhasil disimpan',
            confirmButtonText: 'ok',
            })
        }
       
    },

};
</script>
